@model IEnumerable<MyApp.Models.INM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.C_代理.代理名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_貨品.貨品名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.日期)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.支付方式)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.價格)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.已發貨)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.C_代理.代理名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_貨品.貨品名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.日期)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.支付方式)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.數量)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.價格)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.已發貨)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
