@model IEnumerable<MyApp.Models.OutM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.日期)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.貨品)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.紙箱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.板費)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.快遞)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.輔料)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.其他)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.日期)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.貨品)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.紙箱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.板費)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.快遞)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.輔料)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.其他)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
