@model MyApp.Models.貨品表

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>貨品表</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.貨品名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.貨品名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.存貨)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.存貨)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
