@model MyApp.Models.C_貨品

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>C_貨品</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.貨品Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.貨品Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.價格)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.價格)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.貨品名稱 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
